# Project
Document/

# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
AssetBundles/
Logs/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
.vs/
.vscode/

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# ============ #
# for others   #
# ============ #
*.log
*.pyc
sysinfo.txt
*.smproj
node_modules/